extends base.pug



block content
    h4 Update Video
    form(method="POST")  
        input(name="title",placeholder="Video Title", value=video.title, required)
        input(placeholder="Description", required, type="text", name="description", minlength=20, value=video.description)
        input(placeholder="Hashtags, separated by comma.", required, type="text", name="hashtags", value=video.hashtags.join())
        input(value="Save", type="submit")     


<!-- 
videoRouter의 post로 간다,  action="url" 쓰면 url주소로 간다

input 안에 꼭 name 넣어야 한다

input  name을 설정하면 method 방식을 GET으로 했을때 URL 주소에 name이 붙는다
        input  value는 보여지는 값 -->







